ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
	background-color:white;
}
li a {
    display: block;
    color: black;
	background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #F3F473;
	color: #000000;
	text-decoration: none;
}
 a img:hover {
	 opacity: 0.5;
 }
body{
	background-image: url("images/background.jpg");
	background-size: cover;
}
.row h1 {
	color: white;
	font-family: Times;
	font-size: 50px;
}
.page-description {
	padding: 40px;
	text-align: center;
	width: 1400px;
	font-size: 23px;
	font-family: Arial;
	background-color:white;
}
img {
	height: 200px;
	width: 300px;
	padding: 20px;
}
p {
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	color: black;
	width: 250px;
	background-color: white;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("images/nastyfood.jpg");
  background-size: cover;
  height: 600px;
}